@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(235, 228, 228);
   
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.top{
    position: absolute;
    width: 100%;
    height:60vh;
    color: white;
    background-color: black;
  
   
    
 
}
.top .head{
   position: absolute;
    top: 10px;
    left: 500px;
    margin-top: 20px;
    width: 250px;
    height: 40px;
   
   

    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 30px;

color: #FFFFFF;

}
.in{
    position: absolute;
    top: 80px;
    left: 190px;
    margin-top: 10px;
    width: 800px;
    height: 250px;
   

    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 17px;

}
.in1{
    margin: 30px;
    height: 25px;
   
    border: 1px solid whitesmoke;
   
}
.in2{
    margin: 30px;
    height: 25px;
    margin-top: none;
    border: 1px solid whitesmoke;
}
label{
   
    width: 200px;
}
input{
    margin-left: 30px;
    background-color: transparent ;
    color: rgb(195, 190, 190);
    outline: none;
    border: none;
   width: 500px;

} 
.in1 input{
    margin-left: 65px;
}
.sub{
   
    padding-top: 3px;
    width: 150px;
    height: 30px;
    margin-left: 30px;
    background-color: white;
    color: black;
   text-align: center;

    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;

}

.sub:hover{
    cursor: pointer;
   
    background-color: yellowgreen;
}
.bottom{position: absolute;
    top: 60vh;

    width: 100%;
    height: 800px;
    color: black;
    background-color: #FFFFFF;
}

.bottom .head{
   
    margin-top: 20px;
    margin-left: 80px;
    width: 250px;
    height: 40px;
   
   

    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 30px;

color: black;
}

table{
    width: 900px;
    height: 600px;
     margin: 0 auto;  
     margin-top: 30px;
     border-collapse: collapse;
     
}
tbody{
    border: 2px solid black;
}
tr{
    
    margin-top: 15px;
   margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
}
td{
   width: 400px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size:20px;
    

}


span{
    color: rgb(8, 28, 161);
}
.err{
    color: red;
    font-size: 15px;
   margin-left:  30px;
   margin-bottom: 10px;
    
}